---
// src/components/Hero.astro
const { dict } = Astro.props;
---

<section class="text-center py-16 bg-gradient-to-b  text-primary" >
  <h2 class="text-3xl font-extrabold text-center mb-12 flex items-center justify-center gap-2">{dict.hero.title1}</h2>
  <p set:html={dict.hero.desc1}></p>
  <p set:html={dict.hero.desc2}></p>
  &nbsp;

  <h2 class="text-3xl font-extrabold text-center mb-12 flex items-center justify-center gap-2">{dict.hero.title2}</h2>
  <p set:html={dict.hero.desc3}></p>
  <p set:html={dict.hero.desc4}></p>
  &nbsp;

  <h2 class="text-3xl font-extrabold text-center mb-12 flex items-center justify-center gap-2">{dict.hero.title3}</h2>
  <p set:html={dict.hero.desc5}></p>
  <p set:html={dict.hero.desc6}></p>
  <p set:html={dict.hero.desc7}></p>
  <!--<img src="/ludo-king.jpg" alt="Ludo King Board Game"> -->
</section>

