---
import Nav from "../components/Nav.astro";

const {
  lang = "en",
  title = "Astro Basics",
  description = "Default site description for SEO.",
  isHomePage = false
} = Astro.props;

const bodyClass = `  ${isHomePage ? 'home-page' : ''}`;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- ✅ SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Optional: Social sharing -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />

    <!-- ✅ Google Search Console -->
    <meta name="google-site-verification" content="aShb-9UGoTeILFt_eaaorlm6O9c_z_EhRIefm32jUPg" />

    <!-- ✅ Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-83XZ260J4M"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-83XZ260J4M');
    </script>
  </head>

  <body class={` ${isHomePage ? 'home-page' : ''}`}>
    <Nav siteName="Ludo King Online" />
    <main class={isHomePage ? '' : 'min-h-screen'}>
      <slot />
    </main>
  </body>
</html>


<style>
  html,
  body {
    margin: 0;
    width: 100%;
    background-color: black;
  }
  
  /* Styles normaux */
  html,
  body {
    height: auto;
    overflow: auto;
  }
  
  /* Page d'accueil */
  body.home-page {
    height: 100vh;
    overflow: hidden;
  }
  
  body.home-page main {
    height: calc(100vh - 56px);
    overflow: hidden;
  }
</style>
